*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#point{
    cursor: pointer;
}

img{
    height: 30px;
    border-radius: 15px ;
}

/* stili contenitori "generali" */
#cont_green{
    height: 16vh;
    background-color: #009688;
}
#cont_grey{
    background-color: #DADBD3;
    height: 84vh;
}

#cont_grande{
    display: flex;
    height: 550px;
    background-color: #fff;
    width: 1000px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* contenitore di sinistra */
#cont_left{
    width: 40%;
    height: 100%;
}

#macroblocco_cont_botleft{
    height: 20%;
    width: 100%;
    background-color: violet;
}
/* ************** */
/* profile */
#profile{
    height: 35%;
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 0.5px solid #FAFAFA;
}

#my{
    display: flex;
    width: 65px;
    align-items: center;
}

#options{
    display: flex;
    justify-content: space-around;
    width: 65px;
    height: 30px;
    align-items: center;
}

/* profile */

/* notification */
#notification{
    height: 35%;
    width: 100%;
    background-color: #8EDAFC;
    display: flex;
}
#notification_left{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#notification_right{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
#notification_right a{
    color: gray;
}
/* notification */

/* serch */
#serch{
    height: 30%;
    width: 100%;
    background-color:#FAFAFA;
    display: flex;
    padding: 3px;
}
#serch input{
    width: 85%;
    height: 100%;
    outline: none;
    border-radius: 2px ;
    border: 0;
}
#serch i{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}
/* serch */

/* ************** */
#macroblocco_cont_topleft{
    height: 80%;
    width: 100%;
}

#cont_chat{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: solid 0.5px #FAFAFA;
}

#info_user{
    margin-left: 10px;
}

#info_user p{
    color: gray;
}

/* contenitore di sinistra */

/* contenitore di destra */
#cont_right{
    height: 100%;
    width: 70%;
    overflow-y: auto;
}

#top_bar{
    height: 38px;
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
}

#obgets_topbar{
    align-items: center;
    display: flex;
}

#obgets_topbar i{
    padding-inline: 7px;
    display: flex;
    
}

#persona_selezionata{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#persona_selezionata div{
    flex-direction: column;
}

#persona_selezionata img{
    margin-right: 10px;
    margin-left: 10px;
}

#persona_selezionata div p{
    color: gray;
}


#sottocontenitore_chat{
    height: calc(( 100% - 38px) - 40px);
    background-color: #fff;
    width: 100%;
    display: block;
    background-image: url(img/whatsupp.jpg);
    background-size: contain;
    padding-top: 40px;
}

#chattext{
    height: 40px;
    width: 100%;
    background-color: #F3EEEA;
    display: flex;
    padding: 5px;
}

#spaecial_con_chattext{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spaecial_con_chattext input{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    outline: none;
    border: 0;
}

#smile-microphone{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* stili chat */

#miomex, #suomex{
    width: 180px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 2px;
}

#miomex, #suomex > span{
    font-size: 15px;
}

#miomex{
    background-color: #D5F9BA;
    margin-left: 390px;
}

#suomex{
    background-color: lightgrey;
    margin-left: 50px;
}

/* stili chat */

/* contenitore di destra */

/* stili contenitori "generali" */
