*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stili contenitori "generali" */
#cont_green{
    height: 16vh;
    background-color: #009688;
}
#cont_grey{
    background-color: #DADBD3;
    height: 84vh;
}

#cont_grande{
    display: flex;
    height: 550px;
    background-color: blue;
    width: 1000px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* contenitore di sinistra */
#cont_left{
    width: 40%;
    height: 100%;
    background-color: red;
}

#macroblocco_cont_botleft{
    height: 20%;
    width: 100%;
    background-color: violet;
}
/* ************** */
#profile{
    height: 35%;
    width: 100%;
    background-color: coral;
}
#notification{
    height: 35%;
    width: 100%;
    background-color: #8EDAFC;
}
#serch{
    height: 30%;
    width: 100%;
    background-color:crimson;
    display: flex;
    padding: 3px;
}
#serch input{
    width: 85%;
    height: 100%;
    outline: none;
}
#serch i{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}
/* ************** */
#macroblocco_cont_topleft{
    height: 80%;
    width: 100%;
    background-color: pink;
}
/* contenitore di sinistra */

/* contenitore di destra */
#cont_right{
    height: 100%;
    width: 70%;
    background-color: green;
}
/* contenitore di destra */

/* stili contenitori "generali" */